/* --- MAIN BODY WRAPPER --- */
.wrapper{
  width: 980px;
  border: 4px black solid;
  border-radius: 4px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*padding-bottom: 25px;*/
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}

/*--- THE GRID ---*/
#grid {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--- ROW FORMATING --- */
section {
  display: flex;
  justify-content: center;
}

 /*--- STYLE FOR ONE PIXEL --- */
.pixelStyle{
  border: 1px #D9D6CF solid;
  height: 13px;
  width: 13px;
  float: left;
  /*display: inline-table;*/
  /*border-collapse: collapse;*/
  /*margin-left: 1px;
  margin-top: 1px;*/
}

/*--- COLORS --- */
.color {
margin-right: auto;
margin-left: auto;
display: block;
}

.colorContainer {
  border: 1px black solid;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  /*float: left;*/
  /*Used display instead of float left*/
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
}

#currentColor{
  display: block;
  height: 100px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border: 1px #D9D6CF solid;
  border-radius: 25px;
}

 /*COLORS*/
/* red*/
#FF0000{
  background-color: #FF0000;
}
/*orange*/
#FF7F00 {
  background-color: #FF7F00;
}
/*yellow*/
#FFFF00{
    background-color: 	#FFFF00;
  }
/*green*/
#z00FF00 {
  background-color: #00FF00;
}
/*blue*/
#z0000FF {
  background-color: #0000FF;
}
/*indigo*/
#z9400D3 {
  background-color: #9400D3;
}
/*silver*/
#C9C0BB {
  background-color: #C9C0BB;
}
/*white*/
#FFFFFF{
  background-color: #FFFFFF;
}
/*black*/
#z000000{
  background-color: #000000;
}
