/* --- MAIN BODY WRAPPER --- */
.wrapper{
  width: 980px;
  border: 4px black solid;
  border-radius: 4px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*padding-bottom: 25px;*/
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}

/*--- THE GRID ---*/
#grid {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--- ROW FORMATING --- */
section {
  display: flex;
  justify-content: center;
}

 /*--- STYLE FOR ONE PIXEL --- */
.pixelStyle{
  border: 1px black solid;
  height: 10px;
  width: 10px;
  float: left;
  margin-left: 1px;
  margin-top: 1px;
}

/*--- COLORS --- */
.color {
/*border: 1px black solid;
height: 30px;
width: 30px;
border-radius: 15px;
float: left;
margin-left: 5px;
margin-bottom: 5px;*/
}

.colorContainer {
  border: 1px black solid;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  float: left;
  margin-left: 5px;
  margin-bottom: 5px;
}
/* sizziling red*/
#FF3855{
  background-color: #FF3855;
}
/*orange soda*/
#FA5B3D {
  background-color: #FA5B3D;
}
